.adminPanelContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  padding: 30px 0;
}

.title {
  font-size: 4rem;
  margin-bottom: 32px;
}

.subtitle{
  color: #c9c9c9;
  text-align: center;
}

.sectionTitle {
  font-size: 3rem;
}

.sectionTitle,
.title {
  color: #ffffec;
  text-align: center;
}

.chartsSquare {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.chart {
  text-align: center;
  padding: 10px;
  margin: 24px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.totalOrders {
  color: #c9c9c9;
  font-size: large;
}

.totalOrdersNumber {
  color: #ffffec;
  font-size: xx-large;
}

.accordion {
  max-width: 60%;
  margin: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .accordion {
    max-width: 95%; /* Allows some margin on the sides on larger screens */
  }

  .chartsSquare {
    max-width: 100%;
  }

  .title {
    font-size: 2.5rem;
  }

  .sectionTitle{
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .chartsSquare {
    max-width: 80%;
  }

  .title {
    font-size: 3rem;
  }

  .sectionTitle{
    font-size: 2.5rem;
  }
}
