.contact {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #3b444b;
    padding: 48px 0;
}

.title {
    font-size: 5.5rem;
    color: #ffffec;
}

.subtitle {
    font-size: 1.5rem;
    color: #aaabaa;
    width: 80%;
    text-align: center;
    margin: 24px 0;
}

.contacts {
    list-style-type: none;
    padding: 52px 0;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.contactElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 125px;
    padding: 25%;
    background-color: #949494;
    color: black;
    border-radius: 100%;
    transition: 0.3s;
    opacity: 0.7;
}

.icon:hover {
    opacity: 1;
    cursor: pointer;
}

.contactTitle {
    text-align: center;
    margin: 18px 0;
    color: #dbdbdb;
}

.accordion {
    width: 65%;
}

.accordionTitle {
    font-size: 3rem;
    text-align: center;
    padding: 18px;
    color: #ffffec;
}

@media screen and (max-width: 720px){
    .title {
        font-size: 2.5rem;
        color: #ffffec;
    }

    .subtitle {
        font-size: 1rem;
    }

    .contacts{
        width: 70%
    }

    .icon {
        font-size: 50px;
        padding: 25%;
    }

    .contactTitle{
        font-size: 1rem;
    }

    .accordionTitle {
        font-size: 1.4rem;
    }
}
